body
{	background-size:contain;
	height:10px;
	width:10px;

	background-repeat: no-repeat;
	background-position: center center;
}
.container
{
	background-size: cover;
	position: absolute;
	font-weight: 20px;
	left:15%;
	right: 15%;
	height: 100%;
}
.a1
{
	background-color:#003153;
	position: absolute;
    left:50px;
    top: 50px;
	height:35px;
	width:35px;
}
.a2
{
	background-color:rgb(15,122,96);
	position: relative;
    left:55px;
    top: 55px;
	height:30px;
	width:30px;
}
.a3
{
text-align:left;
position: relative;
top: -12px;
left: 110px; 
color: rgb(229,103,23);
font-size: 24px;
}
.a4
{
	text-align: left;
position: relative;
top: -83px;
left: 315px; 
color: black;
font-size: 24px;
}
.c
{
	position: relative;
   top: -18px;
}
.d
{
	background-color:rgb(15,122,96,0.8);
	position: relative;
    left:654px;
    top: -744px;
	height:355px;
	width:260px;
	border-bottom-left-radius: 120px;
	border-bottom-right-radius: 120px;
}
.d1
{
text-align: left;
position: relative;
top: -1055px;
left: 680px; 
color: white;
font-size: 24px;
}
.d2
{
	text-align: left;
position: relative;
top: -1080px;
left: 665px; 
color: white;
font-size: 20px;
}
.d3
{
text-align: left;
position: relative;
top: -1090px;
left: 696px; 
color:white;
font-size: 20px;
}
.e1
{
text-align: left;
position: relative;
top: -583px;
left: 240px; 
color: rgb(15,122,96);
font-size: 24px;
}
.e2
{
text-align: left;
position: relative;
top: -595px;
left: 30px; 
color:rgb(229,103,23);
font-size: 30px;
}
.e3
{
text-align: left;
position: relative;
top: -595px;
left: 30px; 
color: rgb(229,103,23);
font-size: 30px;
}
.e4
{
	text-align: left;
position: relative;
top: -595px;
left: 30px; 
color:rgb(229,103,23);
font-size: 30px;
}
.e5
{
text-align: left;
position: relative;
top: -913px;
left: 120px; 
color: rgb(15,122,96);
font-size: 15px;
}
.e6
{
	text-align: left;
position: relative;
top: -925px;
left: 120px; 
color: black;
font-size: 18px;
}
.e7
{
text-align: left;
position: relative;
top: -924px;
left: 120px; 
color: rgb(15,122,96);
font-size: 15px;
}
.e8
{
text-align: left;
position: relative;
top: -933px;
left: 120px; 
color: black;
font-size: 18px;	
}
.e9
{
text-align: left;
position: relative;
top: -933px;
left: 120px; 
color: rgb(15,122,96);
font-size: 15px;	
}
.e10
{
text-align: left;
position: relative;
top: -940px;
left: 120px; 
color:black;
font-size: 18px;
}
.f1
{
	background-color:rgb(15,122,96);
	position: relative;
    left:654px;
    top: -1379px;
	height:150px;
	width:260px;
}
.f2
{
	background-color: rgb(229,103,23);
	position: relative;
    left:654px;
    top: -1379px;
	height:160px;
	width:260px;
}
.f3
{
	background-color:#939393;
	position: relative;
    left:654px;
    top: -1379px;
	height:100px;
	width:260px;
}
.g1
{
text-align: left;
position: relative;
top: -1760px;
left: 730px; 
color:white;
font-size: 19px;
}
.g2
{
text-align: left;
position: relative;
top: -1753px;
left: 680px; 
color: white;
font-size: 15px;
}
.g3
{
text-align: left;
position: relative;
top: -1740px;
left: 715px; 
color: white;
font-size: 18px;
}
.g4
{
text-align: left;
position: relative;
top: -1740px;
left: 680px; 
color: white;
font-size: 16px;	
}
.g5
{
text-align: left;
position: relative;
top: -1720px;
left: 680px; 
color:white;
font-size: 16px;
}
.g6
{
	text-align: left;
position: relative;
top: -1640px;
left: 700px; 
color: white;
font-size: 20px;
}
.h{
	background-color:rgb(229,103,23);
	position: absolute;
    left:0px;
    top: 1150px;
	height:15px;
	width:1070px;
}
